{% extends 'food/base.html'%}
{% block body %}
    <h1>Item Details</h1>
    <table>
        <tr>
            <td>ID</td>
            <td>NAME</td>
            <td>DESCRIPTION</td>
            <td>COST</td>
        </tr>
        
        <tr>
          <td>{{item.id}}</td>
          <td>{{item.item_name}}</td>
          <td>{{item.item_description}}</td>
          <td>{{item.item_price}}</td>
        </tr>
                
    </table>
<a href="{% url 'food:index' %}">
<h3>Back</h3>    
</a>    
{% endblock %}